.AboutUs {
    color: #333333;
    padding: 4rem;
    /* height: 100vh; */
    /* background: var(--light); */
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "text1 image1"
        "image2 text2";
    grid-gap: 2rem;
    place-items: center;
}

.AboutUs__title {
    grid-area: title;
    display: grid;
    place-items: center;
    font-size: 3rem;
}

.AboutUs__text {
    font-size: 1.3rem;
    line-height: 30px;
    font-weight: bold;
    display: grid;
    place-items: center;
    box-shadow: 0 0 9px lightgrey;
    outline: 1px solid rgb(239, 239, 239);
    width: 500px;
    height: 300px;
    padding: 40px;
    border-radius: 50px;
}

.AboutUs__image {
    display: grid;
    place-items: center;
    position: relative;
}

.AboutUs__image img {
    outline: 10px solid var(--white);
    z-index: 5;
}

.AboutUs__image__shadow {
    position: absolute;
    width: 300px;
    height: 100px;
    background: var(--white);
    opacity: 0.8;
    left: 0;
    bottom: 0;
    border-radius: 50%;
}

.AboutUs__image.image-1 img {
    border-radius: 51% 49% 62% 38% / 46% 62% 38% 54% ;
}

.AboutUs__image.image-2 img {
    border-radius: 27% 73% 62% 38% / 65% 44% 56% 35%;
}

.AboutUs .Hero__adopt-btn {
    z-index: 1;
    width: 200px;
}

.AboutUs__text.text-1 {
    grid-area: text1;
}

.AboutUs__image.image-1 {
    grid-area: image1;
}

.AboutUs__text.text2 {
    grid-area: text2;
}

.AboutUs__image.image-2 {
    grid-area: image2;
}

.AboutUs__image img {
    width: 70%;
}

@media (max-width: 1000px) {
    .AboutUs {
        display: flex;
        flex-direction: column;
    }
}